{% extends "base.html" %}

{% block content %}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Admin Dashboard</h1>
            <p class="col-lg-10 fs-4">
                zxjncv;dnhfvahefojhg[erioj[eoifj[oejgo[eifj[adioj;pdjnndgbnadjfgnd;lfjnd;jndlbdngjkd;dn
            </p>
            <a href="(% {% url 'ticket-queue'  %} %)" class="btn btn-primary btn-lg" role="button">View Ticket Queue</a>
    </div>
</div>

{% endblock content %}